################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CaseDocumentExtractJob/.vs/CaseDocumentExtractJob/v15/Server/sqlite3
/CaseDocumentExtractJob/CaseDocumentExtractJob/ApiJobTemplate/obj
/CaseDocumentExtractJob/CaseDocumentExtractJob/_TestHarness
/CaseDocumentExtractJob/CaseDocumentExtractJob/PublishedIMS
/CaseDocumentExtractJob/.vs/CaseDocumentExtractJob/v16/Server/sqlite3
/CaseDocumentExtractJob/.vs/CaseDocumentExtractJob/v16
